@charset "utf-8";
/* CSS Document */
body, html, input {
	font-size:100%;
	font-family: 'Open Sans', Verdana, Geneva, sans-serif;
	color:#3A3A3F;
	-moz-font-feature-settings: "kern" off;
	-webkit-font-feature-settings: "kern" off;
	-o-font-feature-settings: "kern" off;
	/* Do not put the generic font-feature-settings in. It break fonts in IE10+ */
}

	
h1, h2, h3 {
	font-family: 'Advent Pro', Verdana, Geneva, sans-serif;
	font-weight: 700;
	font-style: normal;
	letter-spacing:0.12em;
}

.small{
	font-size: 0.8em;
}
.center,
.row_label.center{
	text-align: center;
}

table.unbound th, .th_like{
	font-size: 0.8em;
}
.description{
	white-space: normal;
	font-size: 0.85em;
}

#folder_list a, #project_list a, .clickable{
	text-decoration: none;
	color:#5555F0;
	cursor: pointer;
	text-transform: uppercase;
}
#clear_filters, #hp_catalog_link{
	font-size: 0.8em;
}


/********************** Labels and Fields ***********************************************************************/

label{
	text-align:right;
	text-transform: capitalize;
}

.faux_label{
	font-size:0.9em;
	color:#6A6A6F;
}

input,
select{
	line-height:1.5em;
	font-size:1em;
	text-align:left;
}

.label_input_pair .errorlist li{
	text-align: center;
}
	
.label_input_pair label,
label{
	font-size:0.9em;
	color:#6A6A6F;
	text-align:left;
}

a{
	text-decoration:none;
}
.manufacturers .ui-widget-content a{
	color:#5555F0;
}

.section h1 {
	font-size:1.2em;
}

.header .help_link{

	font-size: 1.5em;
	text-align: center;
}
.header .nav{
	font-size:0.8em;
	text-transform: uppercase;
}

#account_badge #initials{
	font-family: 'Advent Pro', Verdana, Geneva, sans-serif;
	font-style: normal;
	font-size: 1.25em;
	font-weight: 700;
	line-height: 1em;
	text-transform: uppercase;
	color:#FAFAFA;
	text-align: center;
}
#notification_count{
	font-size:0.5em;
	color:#3A3A3F;
	text-align: center;
	line-height: 2em;
}

#page_links{
	text-shadow:#F4F5F6 1px 1px 1px;
	font-size:1em;
	font-weight:normal;
	letter-spacing:0.06em;
	text-transform:uppercase;
}
#save_block .panel p{
	font-size: 0.6em;
	white-space: normal;
}

.button,.button_like{
	line-height:1.5em;
	font-family: 'Advent Pro', Verdana, Geneva, sans-serif;
	font-style: normal;
	font-weight:400;
	text-transform:uppercase;
	color:#FAFAFF;
}
#save_button{
	text-align: center;
}

#object_summary .category,
#folder_nav_container .category{
	font-size: 0.8em;
	text-transform: uppercase;
}

#object_summary .output_table{
	font-size: 0.7em;
	white-space: nowrap;
}
#object_summary .output_table th{
	font-weight: normal;
	text-align: right;
	width:60%;
}

#object_summary .output_table th .label{
	text-transform: uppercase;
}

.folder_count{
	font-size: 0.8em;
	line-height: 1.2em;
	height: 1.2em;
}

.unit{
	text-transform: none;
}
/* ###################################
 * Project Elements
################################### */
#project_label h1{
	font-size:1.2em;
	line-height: 1em;
}
#side_nav a{
	text-shadow:none;
}
.zone_list, .ghex_list, .hwg_list{
	font-size: 0.9em;
}
.category, #main_content .header{
	font-size: 0.8em;
	text-transform: uppercase;
	color: #A4A4A9;
}


#hp_list .ui-accordion-header{
	font-size: 1.2em;
}


/* ###################################
 * Graph Basics
################################### */
.jqplot-target{
	font-family: 'Open Sans', Verdana, Geneva, sans-serif;
	color:#3A3A3F;
}
.jqplot-title{
	font-family: 'Advent Pro', Verdana, Geneva, sans-serif;
	font-size: 100%;
	font-weight: 700;
	font-style: normal;
	letter-spacing:0.12em;
	text-transform: uppercase;
}

.jqplot-canvasOverlay-label{
	font-family: 'Open Sans', Verdana, Geneva, sans-serif;
	text-transform: uppercase;
	color:#999;
	background: #FAFAFA;
	padding: 0 0.2em 0.1em ;
	font-size: 0.8em;
}

.drawing_label{
	color:#999;
	font-size: 0.7em;
	text-transform: uppercase;
}
