/********************** UNITS ****************************************************************************/

.ip [unit='heat_energy']:after{
	content: "kBtu";
}
.ip [unit='capacity']:after{
	content: "kBtuh";
}
.si [unit='heat_energy']:after{
	content: "J";
}
.ip [unit='liquid_volume']:after{
	content: "gal";
}
.si [unit='liquid_volume']:after{
	content: "L";
}
.ip [unit='pressure']:after{
	content: "psi";
}
.si [unit='pressure']:after{
	content: "kPa";
}
.ip [unit='power']:after,
.ip [unit='heat_rate']:after{
	content: "kBtu/hr";
}
.si [unit='power']:after,
.si [unit='heat_rate']:after,
[unit='dmd']:after{
	content: "kW";
}

.ip [unit='tc']:after{
	content: "Btu/hr ft \00b0 F";
}
.si [unit='tc']:after{
	content: "W/m K";
}

.ip [unit='thermal_resistance']:after{
	content: "hr ft \00b0 F/Btu";
}
.si [unit='thermal_resistance']:after{
	content: "m K/W";
}

.ip [unit='thermal_diffusivity']:after{
	content: "ft\00b2  / day";
}
.si [unit='thermal_diffusivity']:after{
	content: "m\00b2  /day";
}


.ip [unit='temperature']:after{
	content: "\00b0 F";
}
.si [unit='temperature']:after{
	content: "\00b0 C";
}

.ip [unit='hwg_rate']:after{
	content: "Gal/Hr";
}
.si [unit='hwg_rate']:after{
	content: "L/Hr";
}

.ip [unit='liquid_flow']:after{
	content: "gpm";
}
.si [unit='liquid_flow']:after{
	content: "L/s";
}

.ip [unit='air_flow']:after{
	content: "cfm";
}
.si [unit='airflow']:after{
	content: "L/s";
}

.ip [unit='velocity']:after{
	content: "ft/s";
}
.si [unit='velocity']:after{
	content: "m/s";
}

.ip [unit='length']:after{
	content: "ft";
}
.si [unit='length']:after{
	content: "m";
}

.ip [unit='diameter']:after{
	content: "in";
}
.si [unit='diameter']:after{
	content: "cm";
}

.ip [unit='headloss']:after{
	content: "ft H\2082O";
}
.si [unit='headloss']:after{
	content: "mm Hg";
}

[unit='time_hr']:after{
	content: "hr";
}

[unit='time_min']:after{
	content: "min";
}
[unit='time_sec']:after{
	content: "s";
}
[unit='days_week']:after{
	content: "days/week";
}

/*inline equations: a + b = c */
.inline_eq_multiply:after{
	content:" \00b7 ";
}
.inline_eq_answer:before{
	content:" = ";
}
	
/*vertical equations: like elementary school flashcards*/

.vert_eq_equal{
	display:block;
	padding-top:0.3em;
	border-top:solid #333 1px;
}

.vert_eq_sum label:before{
	content:"+ ";
}

.vert_eq_minus label:before{
	content:"- ";
}